body {
  padding-top: 160px;
  padding-bottom: 60px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.navbar:not(:first-of-type) {
  top: 108px; /* Altura del primer navbar */
}

textarea {
  resize: none;
}

.custom-badge {
  margin-top: -4px;
}
