{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-5 mx-auto">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			<div class="card card-body border-0">
				<form action="/registrarme" class="row g-3">
					<h1 class="mt-3">Datos personales</h1>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="number" name="_id" class="form-control" placeholder="Ingrese la cédula" autofocus required>
							<label for="_id" class="form-label">Cédula</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="name" class="form-control" placeholder="Ingresa tus nombres" required>
							<label for="name" class="form-label">Nombres</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="lastname" class="form-control" placeholder="Ingresa tus apellidos" required>
							<label for="lastname" class="form-label">Apellidos</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="number" name="telephone" class="form-control" placeholder="Ingresa el télefono" required>
							<label for="name" class="form-label">Télefono</label>
						</div>
					</div>
					<div class="col-md-12">
						<a href="/" class="btn btn-secondary btn-lg mb-2">Volver</a>
						<button class="btn btn-primary btn-lg mb-2">Continuar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
