{% if userLogged %}
	{% set aria_current = ['admin', 'teachers'] %}
{% endif %}


{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-5 mx-auto mt-5">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			<div class="card card-body border shadow">
				<form action="/registrarme" class="row g-3">
					<h1 class="mt-3">Datos personales</h1>
					<input type="hidden" name="auth" value="{% if userLogged %}true{%else%}false{% endif %}">
					<div class="col-md-6">
						<div class="form-floating">
							<input type="number" name="_id" class="form-control bg-secondary" placeholder="Ingrese la cédula" autofocus required>
							<label for="_id" class="form-label">Cédula</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="name" class="form-control bg-secondary" placeholder="Ingresa tus nombres" required>
							<label for="name" class="form-label">Nombres</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="text" name="lastname" class="form-control bg-secondary" placeholder="Ingresa tus apellidos" required>
							<label for="lastname" class="form-label">Apellidos</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="number" name="telephone" class="form-control bg-secondary" placeholder="Ingresa el télefono" required>
							<label for="name" class="form-label">Télefono</label>
						</div>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-secondary btn-lg mb-2" onclick="window.history.go(-1);">Volver</button>
						<button type="submit" class="btn btn-primary btn-lg mb-2">Continuar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
