{% set aria_current = ['admin', 'teachers'] %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="text-center my-3">
				<h1 class="display-2 fw-bold">Administración Docentes</h1>
			</div>
		</div>
		<div class="col-md-12">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success text-center">
					Mensaje:
					{{success}}
				</div>
			{% endif %}
		</div>

		<div class="col-md-12">
			<form>
				<input type="search" class="form-control bg-secondary" placeholder="Buscar por nombre o documento" required>
			</form>

			<table class="table table-hover table-borderless text-center">
				<caption>Cuenta de profesores.</caption>
				<thead>
					<tr>
						<th>Documento</th>
						<th>Correo Electrónico</th>
						<th>Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1111122448</td>
						<td>rojasricor@gmail.com</td>
						<td>Ricardo Andrés Rojas Rico</td>
						<td>
							<a href="/administrar/editar/profesores" class="btn btn-warning">
								<i class="fa fa-pencil-alt"></i>
							</a>
							<a href="/administrar/eliminar/profesores" class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
