{% extends '/layout/layout.twig' %} {% block content %}

<div class="row">
  <div class="px-4 my-5 pt-3 text-center">
    <img src="/public/brand/san_jose_obrero.png" class="img-fluid rounded-3 mb-4" alt="san_jose_obrero logotype"
      width="300" height="100" />

    <h1 class="h1 fw-bold my-5">
      Instrucciones para visualizacion de citacion y observador
    </h1>

    <h4>Ver citación:</h4>
    <p class="h5">
      Al entrar a esta sección sea ver citacio o hacer citacion habra un
      selector de curso seleccione el curso del estudiante (primero , segundo
      ,tercero etc.) Al seleccionar el curso o grado digite el nombre o número
      de identificación de su hijo darle click en enter la flecha ladeada , con
      el cual se hará la búsqueda en la base de datos de la página selecciona el
      estudiante en caso de nombre ya que algunos pueden tener el mismo nombre ,
      luego de esto se visualizará la información basada en la citación enviada
      por parte de la institución
    </p>

    <h4 class="mt-5">Ver observador:</h4>
    <p class="h5">
      Al entrar a esta sección sea ver observador o hacer anotacion en el
      observador , habra un selector curso seleccione el curso del estudiante
      (primero , segundo ,tercero etc.)Al seleccionar el curso o grado digite el
      nombre o número de identificación del estudiante darle click en enter la
      flecha ladeada con el cual se hará la búsqueda en la base de datos de la
      página selecciona el estudiante en caso de nombre ya que algunos pueden
      tener el mismo nombre , luego de esto se visualizará la información basada
      en el observador de disciplina por parte de la institución
    </p>
  </div>
</div>
{% endblock %}