{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="px-4 my-5 pt-3 text-center">
			<img src="/public/img/san_jose_obrero.png" class="img-fluid rounded-3 mb-4" alt="san_jose_obrero logotype" width="300" height="100">
			<h1 class="display-3 fw-bold">Bienvenido Señor
				{{userLogged.role}}
			</h1>
		</div>
	</div>
{% endblock %}
