{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="px-4 pt-5 my-5 text-center border-bottom">
      <div class="overflow-hidden" style="max-height: 30vh;">
				<div class="container px-5">
					<img src="" class="img-fluid border rounded-3 shadow-lg mb-4" alt="disciplineobserver" width="700" height="500" loading="lazy">
				</div>
			</div>
			<h1 class="display-4 fw-bold">Bienvenido señor {{roleInfo}}</h1>
		</div>
	</div>
{% endblock %}
