{% set wallpaper = 'bg' %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			<div class="container">
				<div class="card card-body border-0 bg-transparent">
					<div class="text-center mt-2">
						<h1>{{title}}</h1>
						<p class="fw-normal">Inicia sesión para continuar</p>
						<img class="img-fluid rounded-1" src="/public/img/san_jose_obrero.png" alt="disciplineobserver" width="100" height="100">
					</div>
					<div class="container px-lg-5">
						<form method="post" action="/auth" class="row g-5 px-5 mt-1">
							<input type="hidden" name="post" value="{{post}}">
							<div class="col-md-12">
								<label for="email" class="form-label text-primary fw-light">
									CARGO
								</label>
								<select name="post" class="form-select bg-secondary fw-light" style="min-height: 58px;" required>
									<option value="">Seleccione</option>
									<option value="teacher">Docente</option>
									<option value="parent">Padre de familia</option>
								</select>
							</div>

							<div class="col-md-12">
								<label for="email" class="form-label text-primary fw-light">
									CORREO ELECTRÓNICO
								</label>
								<input type="email" name="email" class="form-control bg-secondary fw-light" placeholder="Ingrese el correo" autocomplete="off" spellcheck="false" autofocus required>
							</div>

							<div class="col-md-12">
								<label for="password" class="form-label text-primary fw-light">
									CLAVE
								</label>
								<input type="password" name="password" class="form-control bg-secondary fw-light" placeholder="Ingrese la contraseña" autocomplete="off" required>
							</div>

							<div class="col-md-6 text-center">
								<a href="/cambiar/contrasena" class="btn btn-link btn-lg text-decoration-none">¿Olvidaste la contraseña?</a>
							</div>

							<div class="col-md-6 text-center">
								<a href="/registro/datos-personales" class="btn btn-link btn-lg text-decoration-none">¿Aun no tienes cuenta?</a>
							</div>

							<div class="col-md-12 text-center">
								<button class="btn btn-primary btn-lg fw-bold">
									Ingresar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
