{% set aria_current = 'make-notation' %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-6 mt-5">Anotación en el Observador</h1>
				{% if error %}
					<div class="alert alert-primary text-center">
						Error:
						{{error}}
					</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-success text-center">
						Mensaje:
						{{success}}
					</div>
				{% endif %}
			</div>
			<div class="col-md-12">
				<div class="container-fluid px-4">
					<form method="post" class="row g-1">
						<div class="col-xl">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Anotación</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="notation" class="form-control bg-secondary" placeholder="Ingrese la anotación" autocomplete="off" spellcheck="false" required></textarea>
										<label for="notation" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Nombre y Curso</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="student" class="form-control bg-secondary" placeholder="Ingrese el nombre del estudiante" autocomplete="off" spellcheck="false" required>{% if _studentInfo is defined %}{{_studentInfo}}{% endif %}</textarea>
										<label for="student" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Documento de Identidad</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="_id" class="form-control bg-secondary" placeholder="Ingrese el número de identificación" autocomplete="off" spellcheck="false" required>{% if _id is defined %}{{_id}}{% endif %}</textarea>
										<label for="_id" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl">
							<div class="card border-0">
								<div class="card-header rounded-1 bg-primary text-center mb-1">
									<span class="h5">Testimonio del Estudiante</span>
								</div>
								<div class="card-body p-0">
									<div class="form-floating">
										<textarea name="testimony" class="form-control bg-secondary" placeholder="Ingrese el testimonio del estudiante" autocomplete="off" spellcheck="false" required></textarea>
										<label for="testimony" class="form-label">
											<i class="fa fa-pencil-alt"></i>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 text-center">
							<button class="btn btn-primary btn-lg mt-5">
								Hacer anotación
								<i class="fa fa-comment"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
