{% extends '/layout/layout.twig' %}

{% block content %}
<div class="row">
  <div class="px-4 my-5 pt-3 text-center">
    <img src="/public/brand/san_jose_obrero.png" class="img-fluid rounded-3 mb-4" alt="san_jose_obrero logotype"
      width="300" height="100">
    <h1 class="display-3 fw-bold">P치gina no encontrada</h1>
    <p class="fs-5">Oops! La p치gina que est치s intentando visitar no existe.</p>
    <button onclick="window.history.go(-1);" class="btn btn-primary btn-lg">
      Volver atr치s
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
</div>
{% endblock %}