{% set wallpaper = true %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			<div class="card card-body border-0">
				<div class="text-center my-2">
					<h1 class="mt-3">¿Qué cargo tienes?</h1>
				</div>

				<form method="post" class="row g-5 text-center">
					<div class="col-md-12">
						<input name="teacher" type="submit" class="btn btn-primary btn-lg fw-bold" value="Docente">
					</div>

					<div class="col-md-12">
						<input name="parent" type="submit" class="btn btn-primary btn-lg fw-bold" value="Padre de familia">
					</div>

					<div class="col-md-12">
						<input name="rector" type="submit" class="btn btn-primary btn-lg fw-bold" value="Rector">
					</div>

					<div class="col-md-12">
						<a href="/registro/datos-personales" class="btn btn-link btn-lg text-decoration-none">¿Aun no tienes cuenta?</a>
					</div>
				</form>


			</div>
		</div>
	</div>
{% endblock %}
