{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-5 mx-auto mt-5">
			{% if error %}
				<div class="alert alert-primary text-center">
					Error:
					{{error}}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success text-center">
					Mensaje:
					{{success}}
				</div>
			{% endif %}
			<div class="card card-body border shadow">
				<form method="post" class="row g-3">
					<h1 class="mt-3">Crear cuenta</h1>
					<div class="col-md-12">
						<div class="form-floating">
							<select name="identification" class="form-select bg-secondary" required>
								<option value="">Seleccione</option>
								{% for role in roles %}
									<option value="{{role._id}}" {% if role.disabled %} disabled {% endif %}>{{role.role}}</option>
								{% endfor %}
							</select>
							<label for="identification" class="form-label">Seleccione su identificaci칩n</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="email" name="email" class="form-control bg-secondary" placeholder="Ingrese el correo" required>
							<label for="email" class="form-label">Email</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input type="password" name="password" class="form-control bg-secondary" placeholder="Ingresa la contrase침a" required>
							<label for="password" class="form-label">Contrase침a</label>
						</div>
					</div>
					<div class="col-md-12">
						{% if success is not defined %}
							<button type="button" class="btn btn-secondary btn-lg mb-2" onclick="window.history.go(-1);">Volver</button>
							<button type="submit" class="btn btn-primary btn-lg mb-2">Registrar</button>
						{% endif %}
						{% if success %}
							<a href="/" class="btn btn-success btn-lg mb-2">Ir a iniciar sesi칩n</a>
							<a href="/administrar/profesores" class="btn btn-primary btn-lg mb-2">Ok</a>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
