{% set wallpaper = 'color' %}

{% extends '/layout/layout.twig' %}

{% block content %}
<div class="row">
	<div class="col-md-6 mx-auto">
		{% if error %}
		<div class="alert alert-primary text-center">
			Error:
			{{error}}
		</div>
		{% endif %}
		<div class="container">
			<div class="card card-body border-0 bg-transparent">
				<div class="text-center mt-2">
					<h1 class="h2">{{title}}</h1>
					<p class="fw-normal">Nueva contraseña</p>
					<img class="img-fluid rounded-3" src="/public/brand/observer.png" alt="disciplineobserver logotype"
						width="160" height="160">
				</div>
				<div class="container px-lg-5">
					<form action="/verificar/codigo" method="post" class="row g-5 px-5 mt-1">
						<div class="col-md-12 px-5">
							<label for="verification_code" class="form-label text-primary fw-light">
								CÓDIGO DE VERIFICACIÓN
							</label>
							<input type="number" name="verification_code" id="verification_code" class="form-control bg-secondary fw-light form-control-lg h-75" placeholder="{% if email %}Código enviado a {{email}}{% else %}Código de verificación{% endif %}"
								autocomplete="off" autofocus required>
						</div>
							

						<div class="col-md-12 text-center">
							<button class="btn btn-primary btn-lg fw-bold">
								Verificar
								<i class="far fa-check-square"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}