{% set wallpaper = 'color' %}

{% extends '/layout/layout.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="container">
				<div class="card card-body border-0 bg-transparent">
					<div class="text-center mt-2">
						<h1 class="h2">{{title}}</h1>
						<p class="fw-normal">Nueva contraseña</p>
						<a href="/">
							<img class="img-fluid rounded-1" src="/public/img/observer.png" alt="disciplineobserver" width="160" height="160">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 mx-auto">
			<div class="container px-lg-5">
				<h1 class="fw-light text-center">Su contraseña ha sido cambiada exitosamente</h1>
			</div>
		</div>
	</div>
{% endblock %}
